body {
  background-color: black;
}

.img {
  position: relative;
  margin : 0 50px;

}

/* p 태그는 기본 마진
margin-top : 1em;
margin-bottom : 1em;

em 단위?
상대적 크기 단위
현재 요소의 font-size를 기준으로
배율을 정함
*/

.img > p {
  position: absolute;
  font-size: 150px;
  font-weight: bold;
  -webkit-text-stroke: 5px white;

  bottom : 0;
  left: -50px;

  margin: 0;
}